@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
 
body {
    scroll-behavior: smooth;
    font-family: 'Epilogue';
    overflow-x: hidden;
    width: 100%;
    height: 880px;
}

.maincontainer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 449px;
    background: #F1F5FE; 
    border-radius: 0px 0px 0px 191.5px
}
.trafficcontainer {
   position: absolute;
   display: flex;
   width: 800px;
   height: 100px;
   left:0px;
   right:0px ;
   margin: 0 auto;
   left: 300px;
   cursor: pointer;  
   
}
.trafficcontainer p {
    position: absolute;
    height: 38px;
    top: 55px;
    font-weight: 800;
    font-size: 35px;
    line-height: 38px;
    text-align: center;
    color: #293356;


}
.trafficcontainer span {
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #848EAD;
    left:50px;
    top: 130px;
    
}
.circles img {
    position: absolute;
    left: 200px;
    top:38px;

    
}

.middlecontainer {
    position: absolute;
    display: flex;
    width:540px;
    height:360px;
    left:0px;
    right: 0px;
    margin: 0 auto;
    top:320px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;
    cursor: pointer;
}
 .nav  {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 520px;
    height: 60px;
    left: 10px;
   

}
.nav p {
    position:absolute;
    display: flex;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    left: 20px;
    top:20px;
    color: #848EAD;
}
.month span {
    position: absolute;
    display: flex;
    color: #293356;
    font-size: 40px;
    top: 14px;
    left: 260px;
   
  
}
.month p {
    position: absolute;
    display: flex;
    font-weight: bold;
    top: 15px;
    color: #848EAD;
    text-transform: lowercase;
    left: 400px;
    

}

.shaddowpath {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    top: 80px;
    width: 90%;
    height: 50px;
    left: 25px;
    background-color: white;
    align-items: center;
   

}
.shaddowpath input[type="ramge"] {
    width: 90%;
}
.myrange{
    appearance: none;
    height: 10px;
    background-color: #10D8C4;
    width: 90%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    
}



.myrange::-webkit-slider-thumb {
  -webkit-appearance:none;
  width: 35px;
  height: 35px;
  background-image: url("/images/icon-slider.svg");
  background-repeat:  no-repeat;
  background-position: 50% 50%;
  background-color: #10D8C4;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  cursor: pointer;
  
}
input[type="range"]::-ms-fill-upper {
    background-color: #ddd;
  }

 .rectangle1 {
    position: absolute;
    display: flex;
    width: 218px;
    height: 8px; 
    background: #A4F3EB;;
    border-radius: 5px;
    top:20px;
    left: 14px;
    cursor: pointer;
    display: none;
}

.rectangle2 {
    position: absolute;
    display: flex;
    width: 218px;
    height: 8px; 
    background: #ECF0FB;
    border-radius: 5px;
    left: 258px;
    top:20px;
    cursor: pointer;
    display: none;

} 
 .circle  {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px none;
    left: 5px;
    top: 7px;
    background: #10D8C4;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    cursor: pointer;
    display: none;
} 



.circle img {
    position: absolute;
    display: flex;
    width: 28px;
    top:5px ;
    cursor: pointer;
    display: none;
    
}
.navbar {
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 50px;
    top:150px;
    left: 20px;
   
   
}

.bill  p {
    position: absolute;
    display: flex;
    font-size: 12px;
    line-height: 9px;
    color: #848EAD;
    text-transform:capitalize;
    left: 80px;
    width:100px

}
.buttons1 {
    position: absolute;
    display: flex;
    width: 60px;
    height: 30px;
    background: #CFD8EF;
    border-radius: 15px;
    left: 200px;
    border: 1px  none;
    cursor: pointer;
    display: none;
}
.buttons1:hover {
    background:  #7AEADF;
    display: none;
    }


    
.toggle-btn[type="checkbox"] {
    
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background: #CFD8EF;
    top:-5px;
    left: 40px;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
  }

  
  .toggle-btn[type="checkbox"]::before {
    content: "";
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    transition: 0.5s;
  }
  
  .toggle-btn[type="checkbox"]:checked::before {
    transform: translateX(190%);
    
    background: #fff;
  }
  
  .toggle-btn[type="checkbox"]:checked {
    background:  #7AEADF;

  }
  
  .buttons1 button {
    position: absolute;
    display: flex;
    width: 50px;
    height: 30px;
    background: #CFD8EF;
    border-radius: 15px;
    left: 50px;
    border: 1px  none;
    display: none;
   
}
.oval {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px none;
    background: white;
    left: 145px;
    
    top: 20px;
    display: none;
}






.yearbill  span {
    position: absolute;
    display: flex;
    left: 270px;
    color: #848EAD;
    font-size: 12px;
    text-transform: capitalize;
    width: 120px;
    top: 10px;
   
}
.buttons2  button {
    position: absolute;
    display: flex;
    background: #FEEDE8;
    border-radius: 15px;
    left: 350px;
    width: 100px;
    height:28px;
    border: 1px none;
    color: #FF8D68;
    align-items: center;
    cursor: pointer;
}
.buttons3 button {
        
    position: absolute;
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    width: 41px;
    height: 12px;
    border-radius: 10px;
    color: #FF8D68;
    display: none;
        }

.oval {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px none;
    background: #FFFFFF;
    left: 203px;
    top: 5px;
    cursor: pointer;
    transition: all 0.5s;
    display: none;
}
.footercontent {
position: absolute;
display: flex;
flex-direction: column;
width: 540px;
height:120px;

top:200px;

}




.bottomline {
    position: absolute;
    display: flex;
    width: 540px;
    height: 2px;
    background: #ECF0FB;
    left:1px;
    top:1px;
    cursor: pointer;
}   
.text {
    position: absolute;
    display: flex;
    flex-direction: column;
    left:75px;
    top: 30px;
    color:#848EAD;
}

.text p {
    position: absolute;
    display: flex;
    
    top:35px;
    width: 120px;
    height: 1px;
}
.text span {
    position: absolute;
    display: flex;
    top: 84px;
    width: 120px;
    height: 1px;   
}
.text label {
    position: absolute;
    display: flex;
    width: 180px;
    height: 1px;
    top:25px;
    font-size: 15px;

    
}
.lastbutton button {
    position: absolute;
    background: #293356;
    border-radius: 20.5px;
    top:280px;
    left:380px;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #BECDFF;
    border: 1px none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}
.check {
    position: absolute;
    display: flex;
    flex-direction: column;
    left:40px;
    top: 240px;
}
.check1 {
    position: absolute;
    position: absolute;
    display: flex;
    top: 80px;
}
.check2 {
    position: absolute;
    position: absolute;
    display: flex;
    top: 47px;
}
.check3 {
    position: absolute;
    position: absolute;
    display: flex;
    top: 15px;  
}

@media only screen and (min-width:320px) and (max-width:480px) {
    @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
 
    body {
        scroll-behavior: smooth;
        font-family: 'Epilogue';
        overflow-x: hidden;
        flex-wrap: wrap;
        width: 375px;
        height: 800px;
    }

    .maincontainer {
        position: absolute;
        width: 400px;
        height: 500px;
        left:1px;
        top: -6px;
        background: #F1F5FE;
        border-radius: 0px 0px 0px 191.5px;
    }
    .trafficcontainer {
        position: absolute;
        display: flex;
        width: 300px;
        height: 50px;
        left:0px;
        right:0px ;
        margin: 0 auto;
        left: 5px;
       

        
     }
    .trafficcontainer p {
        position: absolute;
        height: 38px;
        left: 5px;
        top: 45px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 38px;
        text-align: center;
        color: #293356;
    
    
    }
    .trafficcontainer span {
        position: absolute;
        top: 120px;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        color: #848EAD;
        left: 30px;
        width: 220px;
        
    }
    .circles img {
        position: absolute;
        left: 70px;
        top:60px;  
        
    }
    
    .middlecontainer {
        position: absolute;
        display: flex;
        width:330px;
        height:700px;
        left:18px;
        top:320px;
        background: #FFFFFF;
        box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
        border-radius: 8px;
    }
    .nav {
        position: absolute;
        width: 300px;
        height: 50px;
       
    }
   
    .nav p {
        position:absolute;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 2px;
        text-transform: uppercase;
        left: 80px;
        top:20px;
        color: #848EAD;
        cursor: pointer;
    }

 

   
   
   
    .shaddowpath {
        position: absolute;
        display: flex;
        top: 60px;
        width: 280px;

    
    } 
    .rectangle1 {
        position: absolute;
        display: flex;
        width: 120px;
        height: 8px; 
        background: #A4F3EB;
        border-radius: 5px;
        top:20px;
        left: 13px;
    }
    .rectangle2 {
        position: absolute;
        display: flex;
        width: 120px;
        height: 8px; 
        background: #ECF0FB;
        border-radius: 5px;
        left: -10px;
        top:20px;
        left: 150px;
    }
    
    .month span {
        position: absolute;
        display: flex;
        left: 20px;
        top: 125px;
        color: #293356;
        font: bold;
        font-weight: 100;
        font-size: 40px;   
    }
    .month {
        position: absolute;
        width: 300px;
        height: 50px;
    }
    .month p {
      position: absolute;
      display: flex;
      font-size: 20px;
      color: #848EAD;
      top:125px;
      left:200px;
      text-transform: lowercase;
      font-weight: 950px;
    }
    .circle  {
        position: absolute;
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px none;
        left: 130px;
        top: 7px;
        background: #10D8C4;
        box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    
    }
    .circle img {
        position: absolute;
        display: flex;
        width: 28px;
        top:5px ;

    }
  
      .shaddowpath input {
        display:none ;
      }
    .navbar {
        position:absolute;
        display: grid;
        grid-template-columns: row;
        width: 300px;
        top:195px;
        left: 5px;
       
        
    }
   
    .navbar  p {
        position: absolute;
        display: flex;
        font-size: 14px;
        line-height: 13px;
        color: #848EAD;
        text-transform:capitalize;
        left: 40px;
        top: 10px;
    }
  
    .oval {
        position: absolute;
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px none;
        background:white;
        left: 150px;
        
        top: 20px;
    }
    .yearbill  span {
        position: absolute;
        display: flex;
        left: 280px;
        top: 25px;
        color: #848EAD;
        font-size: 12 px;
        text-transform: capitalize;
        left: 200px;
    }
    .buttons2  button {
        position: absolute;
        display: flex;
        background: #FEEDE8;
        border-radius: 15px;
        left: 100px;
        width: 100px;
        height:28px;
        border: 1px none;
        color: #FF8D68;
        align-items: center;
        display: none;
    }
    .buttons3 button {      
position: absolute;
display: flex;
font-weight: 800;
font-size: 10px;
line-height: 14px;
text-align: center;
width: 41px;
height: 20px;
border-radius: 10px;
color: #FF8D68;
left: 280px;
top: 20px;
    }

    .buttons1 {
        position: absolute;
        display: flex;
        width: 50px;
        height: 25px;
        background: #CFD8EF;
        border-radius: 15px;
        left: 145px;
        border: 1px  none;
        cursor: pointer;
        top: 18px;
       
    }
 
    
.toggle-btn[type="checkbox"] {
    
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background: #CFD8EF;
    top:-5px;
    left: 40px;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    display: none;
   
  }

  
  .toggle-btn[type="checkbox"]::before {
    content: "";
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    transition: 0.5s;
    display: none;
  }
  
  .toggle-btn[type="checkbox"]:checked::before {
    transform: translateX(190%);
    
    background: #fff;
    display: none;
  }
  
  .toggle-btn[type="checkbox"]:checked {
    background:  #7AEADF;
    display: none;

  }
 
    

    .bottomline {
        position: absolute;
        display: flex;
        width:330px;
        height: 2px;
        background: #ECF0FB;
        left:-1px;
        top:100px;
    }   
    .text {
        position: absolute;
        display: flex;
        flex-direction: column;
        left:110px;
        top: 200px;
        color:#848EAD;
    }
   
     .text label {
        position: absolute;
        display: flex;
        left: 5px;
        top:10px;
        
        width:800px;
        height: 40px;
        line-height: 30px;
     }
    .text p {
position: absolute;
display: flex;
left: -10px;
top:30px;
width: 120px;
height: 1px;
    }
    .text span {
        position: absolute;
        display: flex;
        left:10px;
        top:70px;
        width: 120px; 
        height: 1px;  
    }
    .lastbutton button {
        position: absolute;
        
        background: #293356;
        border-radius: 20.5px;
        top:555px;
        left:100px;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        color: #BECDFF;
        border: 1px none;
        width: 150px;
        height: 40px;
    }
    .check {
        position: absolute;
        display: flex;
        flex-direction: column;
        left:70px;
        top: 270px;
    }
    .check1 {
        position: absolute;
        position: absolute;
        display: flex;
        top: 205px;
        left:15px ;
    }
    .check2 {
        position: absolute;
        position: absolute;
        display: flex;
        top: 175px;
        left: 5px;
    }
    .check3 {
        position: absolute;
        position: absolute;
        display: flex;
        top: 150px; 
        left: 20px; 
    }
} 





